:root {
    --fl-dark: #0F0E17;
    --fl-email: #1485D4;
    --fl-title: #E53170;
    --fl-white: #FFFFFF;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.site_header {
    text-align: center;
}

h1 {
    color: var(--fl-title);
    padding: 2rem;
}

.row {
    margin-top: 2rem;
}

.card {
    background-color: var(--fl-dark);
    color: var(--fl-white);
    width: calc(100% / 3);
}

img {
    float: left;
    width: 6.2rem;
    margin-right: 1.25rem;
}

.info {
    padding-top: 1.25rem;
}